<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Unit экономика</title>
</head>
<body>
<div class="container">
    <br>
    <h1>Unit экономика</h1>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <form>
                <div class="form-group">
                    <label for="Other">Стоимость затрат на обеспечение продажи</label>
                    <input class="form-control-range" type="range" id="Other" name="volume" min="1" max="1000" value="100">
                    <small id="Other_INFO" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="AC">Бюджет на привлечение когорты</label>
                    <input class="form-control-range" type="range" id="AC" name="volume" min="1" max="25000" value="2000">
                    <small id="AC_INFO" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="RC">Бюджет на удержание клиентов</label>
                    <input class="form-control-range" type="range" id="RC" name="volume" min="1" max="25000" value="2000">
                    <small id="RC_INFO" class="form-text text-muted"></small>
                </div>
            </form>
            <hr>
            <h3>Результаты:</h3>
            <p>Затраты на привлечение одного подписчика, установившего чатбота: <strong id="CPA"></strong> рублей</p>
            <p>Средние затраты на удержание подписчика чат-бота: <strong id="ARC"></strong> рублей</p>
            <p>Прибыль с одного уникального подписчика чатбота: <strong id="ARPU_CPA_ARC"></strong> рублей</p>
            <p>Прибыль,  которую мы получаем в когорте.: <strong id="Revenue"></strong> рублей</p>
            <p>ROI: <strong id="ROI"></strong> %</p>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script type="text/javascript">
  var csrf_token = '{{ csrf_token }}';
  var state = '{{state}}'
</script>
{% load staticfiles %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extrahead %}
<script src='static/js/calc.js'></script>
{% endblock extrahead %}
</body>
</html>